.container {
  /* border: 1px solid pink; */
  max-width: 155em;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  /* make max-width match max width of pic? */
  max-width: 42em;
  padding: 7% 6% 3%;

  font-family: var(--ff-heading);
  font-size: var(--fs-600);
}