.container {
  /* border: 1px solid pink; */
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  /* make max-width match max width of pic? */
  max-width: 42em;
  padding: 7% 6% 3%;

  font-family: var(--ff-heading);
  font-size: var(--fs-600);

  animation: transitionIn 500ms;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}