.container {
  /* border: 1px solid blueviolet; */
  max-width: 155em;
  background-color: var(--clr-sand);
  padding: 1em 6%;
  height: 100vh;

  color: var(--clr-black);
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
}

.container h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  font-size: clamp(var(--fs-xl), 13vw, 6rem);
  /* padding: .25em 0; */
}

.content {
  /* border: 1px solid blueviolet; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  height: 100%;
}

.book-now {}

.book-serv {
  /* border: 1px dashed olivedrab; */
  text-align: end;
  background-color: var(--clr-orange-norm);
  box-shadow: 3px 3px 3px var(--clr-gray-norm);
  color: var(--clr-white);
  font-family: var(--ff-title);
  font-size: clamp(var(--fs-xl), 13vw, 6rem);
  padding: 0.1em .2em;
  max-width: 50em;
  z-index: 2;
}

.book-serv li {
  font-size: var(--fs-600);
  font-size: clamp(var(--fs-600), 13vw, 1.2rem);
}