.container {
  border: 1px solid blueviolet;
  max-width: 100vw;
  background-color: var(--clr-sand);

  max-width: 42em;
  padding: 5% 6%;

  color: var(--clr-black);
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
}

.container h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  padding: .5em 0;
}

.pricing {
  /* border: 1px solid blue; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-xl);
}

.book-serv {
  /* border: 1px dashed olivedrab; */
  text-align: end;
  background-color: var(--clr-orange-norm);
  filter: brightness(90%);
  color: var(--clr-white);
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  font-size: clamp(var(--fs-xl), 13vw, 6rem);
  padding: .25em;
  width: 6.5em;
  position: relative;
  top: 1em;
  margin-bottom: .2em;
  z-index: 2;
}

.book-serv li {
  font-size: var(--fs-600);
  font-size: clamp(var(--fs-600), 13vw, 1.2rem);
}