.container {
  margin: auto;
}

.content {
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4.3em;
  border-bottom: 1px solid gray;

  animation: transitionIn 500ms;

  min-height: 70vh;
}

.form {
  /* border: 1px solid cyan; */
  width: max(17em, 30vw);
  padding: 20px 0;

  /* for button position */
  position: relative;
}

.form input,
.form textarea {
  padding: .5em 0;
  width: 100%;
}

.input-field {
  margin-bottom: 2em;
  outline: 0;
  border-width: 0 0 3px;
  background-color: transparent;
}

.input-field:focus::placeholder {
  color: transparent;
}

.form-control {
  border-color: var(--clr-white);
  border-radius: 2px;
}

.error-control {
  border-color: crimson;
}

.input-err {
  font-size: small;
  color: red;
}

.form-msg textarea::placeholder {
  line-height: 0%;
}

.form>button {
  position: absolute;
  right: 0;
  background-color: var(--clr-orange-dark);

  width: 4.5em;
  padding: .5em .25em;
  margin-top: .5em;

  border: 0;
  border-radius: 5px;
  font-family: var(--ff-body);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}