.footer-container {
  /* background-color: var(--clr-dark-gray); */
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer-content {
  padding-bottom: 2rem;
  max-width: 90%;
  margin: auto;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
  color: var(--clr-brown);
  font-size: var(--fs-600);
  font-family: var(--ff-heading);
}

.footer-content h1 {
  color: var(--clr-orange-norm);
  font-family: var(--ff-body);
}

.footer-logo {
  /* border: 1px solid yellow; */
  position: relative;
  width: 30%;
  height: 5em;
}

.footer-cr {
  /* border: 1px solid yellow; */
  column-gap: 0.25rem;
  color: #ffffff;
  font-size: var(--fs-200);
}

@media (min-width: 768px) {
  .footer-container {
    padding-top: 7rem;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "c l h";
    margin-bottom: 4em;
  }

  .footer-c {
    /* background-color: blueviolet; */
    grid-area: c;
  }

  .footer-logo {
    /* background-color: aqua; */
    grid-area: l;
    width: 80%;
    height: 20vh;
    margin: auto;
  }

  .footer-h {
    /* background-color: aquamarine; */
    grid-area: h;
  }

  .footer-cr {
    font-size: var(--fs-400);
    text-align: center;
  }
}