.container {
  /* border: 1px solid pink; */
  max-width: 155em;
  margin: auto;

  font-family: var(--ff-title);
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5em;
  align-items: center;
}

.container>h1 {
  text-align: center;
  padding: .3em 0 .7em;
}

@media (max-width: 398px) {
  .content {
    grid-template-columns: 1fr 1fr;
    padding: 0 .5em;
  }
}

@media (min-width: 400px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}