/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --clr-black: #000300;
  --clr-white: #fffaf0;
  --clr-gray-norm: #231f20;
  --clr-gray-dark: #141311;
  --clr-yellow: #f0a500;
  --clr-orange-norm: #f4793e;
  --clr-orange-light: #e9835f;
  --clr-orange-dark: #e45826;
  --clr-sand: #f5deb3;
  --clr-brown: #c49d6e;

  --ff-body: "Telex";
  --ff-heading: "Athiti";
  --ff-title: "Roboto Condensed";

  --fs-xl: 2.5rem;
  --fs-lg: 2rem;
  --fs-600: 1.125rem;
  --fs-400: .875rem;
  --fs-200: .625rem;
}

/* telex-regular - latin | body */
@font-face {
  font-family: "Telex";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../public/fonts/telex-v14-latin-regular.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* athiti-200 - latin | heading */
@font-face {
  font-family: "Athiti";
  font-style: normal;
  font-weight: 200;
  src: local(""),
    url("../../public/fonts/athiti-v12-latin-200.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-condensed-700italic - latin | title */
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../../public/fonts/roboto-condensed-v25-latin-700italic.woff2") format("woff2");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--ff-body);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--clr-gray-norm);
    /* background: black; */
  }
}

@media (min-width: 768px) {
  :root {
    /* --fs-xl: clamp(3rem, 6vw + 1rem, 7rem); */
  }
}

/* Utilitiy classes */
.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  /* border: 1px solid salmon; */
  min-height: 70vh;
  max-width: 155em;
  margin: auto;
}