.home-container {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-title {
  border: 1px solid magenta;
  /* position: relative; */
  position: absolute;
  /* top: 5.5em; */
  /* margin-top: -.75em; */
  z-index: 2;
  text-align: center;
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  color: var(--clr-sand);

  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-sand);
  text-shadow:
    4px 4px var(--clr-orange-dark),
    8px 8px var(--clr-black);
}

.home-content {
  /* border: 1px solid magenta; */
  font-family: var(--ff-heading);
  font-size: var(--fs-lg);
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  /* border: 1px solid yellow; */
  filter: brightness(65%);
  /* padding: .3em; */
}

.home-book {
  /* border: 1px dashed olivedrab; */
  /* position: relative; */
  /* top: -7em; */
  text-align: center;
  color: var(--clr-white);
  width: 6em;
  margin: auto;
  margin-bottom: .5em;
  border-radius: 10px;
  border: 2px solid var(--clr-white);
}

.home-serv {
  /* border: 1px dashed olivedrab; */
  text-align: end;
  background-color: var(--clr-white);
  filter: brightness(90%);
  color: var(--clr-black);
  font-family: var(--ff-title);
  font-size: var(--fs-xl);
  padding: .25em;
  width: 6.5em;
  /* align-self: center; */
  position: relative;
  top: -1.5em;
  /* margin-bottom: -5.7em; */
  z-index: 2;
}

.home-serv li {
  font-size: var(--fs-600);
}

@media (max-width: 45rem) {
  .home-title {
    font-size: clamp(2rem, 13vw, 6rem);
    top: clamp(7em, 13vw, 2em);
  }
}

@media (min-width: 768px) {
  .home-title {
    position: absolute;
    /* top: 1.8em; */
    top: 2.5em;
    left: 1.6em;
    z-index: 50;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--clr-sand);
    text-shadow:
      8px 8px var(--clr-orange-dark),
      18px 18px var(--clr-black);
  }

  .home-content {
    font-size: 3rem;
  }

  .home-serv {
    /* max-width: 7em; */
  }
}

.combine-layer {
  display: grid;
}

.layer-one, .layer-two {
  grid-column: 1;
  grid-row: 1;
}

.layer-two {
  border: 1px dashed red;
  z-index: 10;
  margin: auto;
}