.primary-hdr {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 9000;

  background: hsl(0 0% 10% / 0.9);
  border-bottom: 1px solid gray;
}

.primary-nav {
  /* border: 1px solid yellow; */
  display: flex;
  margin: 1rem;

  color: var(--clr-orange-norm);
  text-shadow: 1px 2px var(--clr-gray-dark);
  /* line-height: 1.5; */
  gap: .25em;
}

.primary-nav a {
  margin-inline-end: 1em;
}

.primary-icons {
  display: flex;
  align-items: center;
  margin: 1rem;
  z-index: 2000;
  gap: 0 1em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40em) {
  .primary-nav {
    /* Structure nav container */
    position: fixed;
    /* inset: 0 35% 0 0; */
    inset: 0 0 0 0;
    margin: 0;
    z-index: 1000;

    /* Position nav links within container */
    /* background-color: temp bg-color for testing); */
    flex-direction: column;
    font-size: clamp(var(--fs-lg), 10vh, 2.7rem);
    padding: min(28vh, 4em) 7%;

    /* Background */
    /* background-color: var(--clr-gray-norm); */
    background: hsl(0 0% 0% / 0.2);
    backdrop-filter: blur(1rem);

    /* Transform nav-menu out of viewport */
    transform: translateY(-100%);
    transition: transform 350ms ease-out;
  }

  .primary-nav-show {
    transform: translateY(0%);
  }

  .mobile-nav-toggle {
    display: block;

    /* Position where button will go */
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    /* inset: 5% 0 0 7%; */
    left: 5%;
    border: 0;

    /* Set background color (optional) */
    background: transparent;
  }

  /* Manually create hamburger */
  .hamburger {
    display: block;
    position: relative;
    margin: auto;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background-color: var(--clr-white);

    transition: transform 350ms ease-in-out, opacity 100ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }

  /* Animate hamburger when nav is opened */
  .nav-open .hamburger {
    transform: rotate(45deg);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }
}